@media only screen and (max-width: 576px) {
	.cta-content > h2 {
		font-size: 1.5rem !important;
	}

	.service-section img {
		max-width: 256px;
		display: flex;
	}

	.service-section .service-section__img-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 1.5rem;
	}

	.why-us > :first-child,
	.faq > :first-child {
		text-align: center;
	}

	.car-background {
		width: 96%;
		height: 8rem;
	}

	.car-image {
		position: absolute;
		z-index: 2;
		bottom: 0;
		right: 0;
		scale: 1;
	}

	.cards {
		display: block;
	}

	.mobile-nav-hidden {
		display: none;
	}

	.desktop-nav-hidden {
		display: block;
	}

	.offcanvas-mobile {
		width: 50% !important;
	}

	.offcanvas-body > ul {
		padding: 0 !important;
	}

	.testimoni-photo__container {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 1.5rem;
	}

	.testimoni-desc {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
	}
}
